<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Список элементов:</h1>
        {% for item in data %}
            <div>
                <h1>{{ item.user }}</h1>
                <div style="display: flex">
                    {% if item.reply_to %}
                        <p style="color: aqua">{{ item.reply_to }},</p>
                    {% endif %}
                    <p>{{ item.text }}</p>
                </div>
                <p>{{ item.created_at }}</p>
                            <hr>
            </div>
        {% endfor %}
</body>
</html>